@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel, .infinite-carousel, .smooth-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 50px;
}